html{
    width:100%;
    margin:0;
}
body {

    width: calc(100% - 100px);
    max-width: 800px;
    margin: 60px auto;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6em;

    background-color: white;

    position: relative;

}
a, span[data-fake-link]{
    color: hsl(200,80%,60%);
    transition: color 0.1s;
}
a:hover, span[data-fake-link]:hover{
    color: hsl(200,80%,80%);
}
span[data-fake-link]{
    cursor: pointer;
    text-decoration: underline;
}
b, strong{
    font-weight: bold;
}
hr{
    border:none;
    border-top: 3px dashed #ddd;
    margin-bottom: 2em;
    margin-top: 30em;
}
strike{
    opacity: 0.3;
}

#big_nuts{
    font-size:50px;
    line-height:1.75em;
    list-style: none;
    padding-left: 0;
}

#PointyMcPointFace{
    position: absolute;
    top: -6px;
    right: 6px;
    width: 400px;
    height: 350px;
    background: url(sprites/point.png);
    background-position-y: 0%;
    background-size: 100%;
    pointer-events: none;
    transition: opacity 0.2s, right 0.2s;
}

/* hack to target iframes */
iframe[data-splash=yes]{
    border: none !important;
    margin: 0 auto !important;
    display: block !important;
}
iframe[data-include=yes]{
    border: none !important;
}